html, body {
    margin: 0;
    padding: 0;
    min-width: 646;
}

#init, #grid, #verify, #link, #entry, #otp {
    display: none;
    float: left;
    width: calc(34px * 17);
    margin: 0 50% 32px 50%;
    position: relative;
    left: calc(-34px / 2 * 17);
}

button {
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    font-size: 8px;
    color: black;
    border: 0;
    margin: 1px;
    background: #ddd;
}

button[disabled]{
    color: red;
    background: #ccc;
}

button[j="0"]{
    clear: left;
}

label {
    width: 100%;
    float: left;
}